# window-tagging bindings (yabai + skhd)
# adjust keys + tag numbers to taste

# window-tagging (begin)
lalt - 1 : WINDOW_TAGGING_BACKEND="$HOME/.config/window-tagging/src/yabai-skhd/backend.sh" $HOME/.config/window-tagging/src/switch_to_window_or_workspace.sh 1
lalt + shift - 1 : WINDOW_TAGGING_BACKEND="$HOME/.config/window-tagging/src/yabai-skhd/backend.sh" $HOME/.config/window-tagging/src/set_window_tag.sh 1
# window-tagging (end)
