# window-tagging bindings (AeroSpace)
# adjust keys + tag names to taste

# window-tagging (begin)
[mode.main.binding]
alt-1 = 'exec-and-forget WINDOW_TAGGING_BACKEND="$HOME/.config/window-tagging/src/aerospace/backend.sh" ~/.config/window-tagging/src/switch_to_window_or_workspace.sh 1'
alt-shift-1 = 'exec-and-forget WINDOW_TAGGING_BACKEND="$HOME/.config/window-tagging/src/aerospace/backend.sh" ~/.config/window-tagging/src/set_window_tag.sh 1'
# window-tagging (end)
